.idea
.vscode
.DS_Store
npm-debug.log

lib/
.tmp/
temp/
typings/
coverage/
node_modules/
.nyc_output/

# Real key file should not be checked in
test/resources/key.json
test/resources/apikey.txt
test/resources/appid.txt

# Release tarballs should not be checked in
firebase-admin-*.tgz

docgen/html/
